<p><%= @game.player1.name %> has hugged <%= @game.player2.name %></p>
<p><%= @game.player2.name %> has <%= @game.player2.hit_points %> /100 HP.</p>
<a href="/play">OK</a>
<div>
  <img src="images/giphy.gif">
</div>
