<form action="/names" method="post">
    <input type="text" name="player_one" placeholder="Name Player 1">
    <input type="text" name="player_two" placeholder="Name Player 2">
    <input type="submit" value="Submit">
</form>
