<div style="text-align: center;">
  <h1 style ="font: bold 96px Arial;"><%= @game.other_player.name %> is the winner! Yay for <%= @game.other_player.name %>!</h1>
    <img src="images/winner.gif">
    <div style="margin: 30px 0">
      <a href="/"><input type="button" value="Play again" ></a>
    </div>
</div>
